body{
    background-color: rgb(170, 187, 243);
    font: normal, 15pt Arial ;
    text-align: center;
    margin: auto;
    padding: auto;
}

header{
    color: white;
    text-align: center;
}
section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 3px rgb(110, 110, 110);
}
footer{
    color: white;
    text-align: center;
    font-style: normal;
}
input{
    background-color: rgb(219, 226, 240);
   border: none;
   padding: 5px; 
   border-radius: 5px; 
   cursor: pointer;
   

   
}
img#foto{
    border-radius: 200px;

}